In [2]:
import pandas as pd

chunksize = 10

bams = pd.read_csv('s3://olgabot-maca/facs_bams.csv')
# bams = bams.rename(columns={'sample_id': 'sample_name'})
print(bams.shape)
bams.head()

(54912, 3)

,sample_id,bam,bai
0,A1-B000126-3_39_F-1-1_S289,s3://czbiohub-maca/remux_data/170925_A00111_00...,s3://czbiohub-maca/remux_data/170925_A00111_00...
1,A1-B000127-3_38_F-1-1_S1,s3://czbiohub-maca/remux_data/170914_A00111_00...,s3://czbiohub-maca/remux_data/170914_A00111_00...
2,A1-B000167-3_56_F-1-1_S228,s3://czbiohub-maca/remux_data/170925_A00111_00...,s3://czbiohub-maca/remux_data/170925_A00111_00...
3,A1-B000168-3_57_F-1-1_S177,s3://czbiohub-maca/remux_data/170925_A00111_00...,s3://czbiohub-maca/remux_data/170925_A00111_00...
4,A1-B000412-3_56_F-1-1_S110,s3://czbiohub-maca/remux_data/170914_A00111_00...,s3://czbiohub-maca/remux_data/170914_A00111_00...

In [ ]:
txt = 'tabula_muris_facs_bams.txt'

! aws s3 ls s3://czbiohub-tabula-muris/facs_bam_files/ > $txt

In [18]:
aws_s3_ls = pd.read_table(txt, names=['date', 'time', 'bytes', 'basename'],
                         delim_whitespace=True)
print(aws_s3_ls.shape)
aws_s3_ls.head()

(199680, 4)

,date,time,bytes,basename
0,2018-09-12,19:55:15,29298050,A1-B000126-3_39_F-1-1_R1.mus.Aligned.out.sorte...
1,2018-09-12,19:55:15,1430792,A1-B000126-3_39_F-1-1_R1.mus.Aligned.out.sorte...
2,2018-09-12,19:55:15,29938176,A1-B000126-3_39_F-1-1_R2.mus.Aligned.out.sorte...
3,2018-09-12,19:55:15,1434896,A1-B000126-3_39_F-1-1_R2.mus.Aligned.out.sorte...
4,2018-09-12,19:55:15,26588604,A1-B000127-3_38_F-1-1_R1.mus.Aligned.out.sorte...

In [19]:
aws_s3_ls_bams = aws_s3_ls.query('basename.str.endswith("bam")')
print(aws_s3_ls_bams.shape)
aws_s3_ls_bams.head()

(99840, 4)

,date,time,bytes,basename
0,2018-09-12,19:55:15,29298050,A1-B000126-3_39_F-1-1_R1.mus.Aligned.out.sorte...
2,2018-09-12,19:55:15,29938176,A1-B000126-3_39_F-1-1_R2.mus.Aligned.out.sorte...
4,2018-09-12,19:55:15,26588604,A1-B000127-3_38_F-1-1_R1.mus.Aligned.out.sorte...
6,2018-09-12,19:55:15,26582881,A1-B000127-3_38_F-1-1_R2.mus.Aligned.out.sorte...
8,2018-09-12,19:55:15,22382543,A1-B000167-3_56_F-1-1_R1.mus.Aligned.out.sorte...

In [23]:
aws_s3_ls_bams['sample_name'] = aws_s3_ls_bams['basename'].str.split("_R").str[0]
print(aws_s3_ls_bams.shape)
aws_s3_ls_bams.head()

(99840, 6)

/home/ubuntu/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,date,time,bytes,basename,sample_id,sample_name
0,2018-09-12,19:55:15,29298050,A1-B000126-3_39_F-1-1_R1.mus.Aligned.out.sorte...,A1-B000126-3_39_F-1-1,A1-B000126-3_39_F-1-1
2,2018-09-12,19:55:15,29938176,A1-B000126-3_39_F-1-1_R2.mus.Aligned.out.sorte...,A1-B000126-3_39_F-1-1,A1-B000126-3_39_F-1-1
4,2018-09-12,19:55:15,26588604,A1-B000127-3_38_F-1-1_R1.mus.Aligned.out.sorte...,A1-B000127-3_38_F-1-1,A1-B000127-3_38_F-1-1
6,2018-09-12,19:55:15,26582881,A1-B000127-3_38_F-1-1_R2.mus.Aligned.out.sorte...,A1-B000127-3_38_F-1-1,A1-B000127-3_38_F-1-1
8,2018-09-12,19:55:15,22382543,A1-B000167-3_56_F-1-1_R1.mus.Aligned.out.sorte...,A1-B000167-3_56_F-1-1,A1-B000167-3_56_F-1-1

In [24]:
aws_s3_ls_bams['sample_id'] = aws_s3_ls_bams.basename.str.split('.mus').str[0]
aws_s3_ls_bams.head()

/home/ubuntu/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,date,time,bytes,basename,sample_id,sample_name
0,2018-09-12,19:55:15,29298050,A1-B000126-3_39_F-1-1_R1.mus.Aligned.out.sorte...,A1-B000126-3_39_F-1-1_R1,A1-B000126-3_39_F-1-1
2,2018-09-12,19:55:15,29938176,A1-B000126-3_39_F-1-1_R2.mus.Aligned.out.sorte...,A1-B000126-3_39_F-1-1_R2,A1-B000126-3_39_F-1-1
4,2018-09-12,19:55:15,26588604,A1-B000127-3_38_F-1-1_R1.mus.Aligned.out.sorte...,A1-B000127-3_38_F-1-1_R1,A1-B000127-3_38_F-1-1
6,2018-09-12,19:55:15,26582881,A1-B000127-3_38_F-1-1_R2.mus.Aligned.out.sorte...,A1-B000127-3_38_F-1-1_R2,A1-B000127-3_38_F-1-1
8,2018-09-12,19:55:15,22382543,A1-B000167-3_56_F-1-1_R1.mus.Aligned.out.sorte...,A1-B000167-3_56_F-1-1_R1,A1-B000167-3_56_F-1-1

In [35]:
aws_s3_ls_bams['bam'] = 's3://czbiohub-tabula-muris/facs_bam_files/' + \
    aws_s3_ls_bams['basename'] 
aws_s3_ls_bams.head()

/home/ubuntu/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,date,time,bytes,basename,sample_id,sample_name,bam
0,2018-09-12,19:55:15,29298050,A1-B000126-3_39_F-1-1_R1.mus.Aligned.out.sorted.bam,A1-B000126-3_39_F-1-1_R1,A1-B000126-3_39_F-1-1,s3://czbiohub-tabula-muris/facs_bam_files/A1-B000126-3_39_F-1-1_R1.mus.Aligned.out.sorted.bam
2,2018-09-12,19:55:15,29938176,A1-B000126-3_39_F-1-1_R2.mus.Aligned.out.sorted.bam,A1-B000126-3_39_F-1-1_R2,A1-B000126-3_39_F-1-1,s3://czbiohub-tabula-muris/facs_bam_files/A1-B000126-3_39_F-1-1_R2.mus.Aligned.out.sorted.bam
4,2018-09-12,19:55:15,26588604,A1-B000127-3_38_F-1-1_R1.mus.Aligned.out.sorted.bam,A1-B000127-3_38_F-1-1_R1,A1-B000127-3_38_F-1-1,s3://czbiohub-tabula-muris/facs_bam_files/A1-B000127-3_38_F-1-1_R1.mus.Aligned.out.sorted.bam
6,2018-09-12,19:55:15,26582881,A1-B000127-3_38_F-1-1_R2.mus.Aligned.out.sorted.bam,A1-B000127-3_38_F-1-1_R2,A1-B000127-3_38_F-1-1,s3://czbiohub-tabula-muris/facs_bam_files/A1-B000127-3_38_F-1-1_R2.mus.Aligned.out.sorted.bam
8,2018-09-12,19:55:15,22382543,A1-B000167-3_56_F-1-1_R1.mus.Aligned.out.sorted.bam,A1-B000167-3_56_F-1-1_R1,A1-B000167-3_56_F-1-1,s3://czbiohub-tabula-muris/facs_bam_files/A1-B000167-3_56_F-1-1_R1.mus.Aligned.out.sorted.bam

In [28]:
pd.options.display.max_colwidth = 500

In [37]:
groupby = 'sample_name'

sample_names = aws_s3_ls_bams.groupby(groupby)['sample_id'].apply(pipe_join)
new_bams = aws_s3_ls_bams.groupby(groupby)['bam'].apply(pipe_join)

reflow_bams = pd.concat({"sample_names":sample_names, "bams":new_bams}, axis=1)
reflow_bams['output'] = f's3://olgabot-maca/facs/merge_tabula_muris/merge_sample_pairs/' + reflow_bams.index + '.bam'
reflow_bams.index.name = 'id'
reflow_bams.head()

,bams,sample_names,output
id,,,
A1-B000126-3_39_F-1-1,s3://czbiohub-tabula-muris/facs_bam_files/A1-B000126-3_39_F-1-1_R1.mus.Aligned.out.sorted.bam|s3://czbiohub-tabula-muris/facs_bam_files/A1-B000126-3_39_F-1-1_R2.mus.Aligned.out.sorted.bam,A1-B000126-3_39_F-1-1_R1|A1-B000126-3_39_F-1-1_R2,s3://olgabot-maca/facs/merge_tabula_muris/merge_sample_pairs/A1-B000126-3_39_F-1-1.bam
A1-B000127-3_38_F-1-1,s3://czbiohub-tabula-muris/facs_bam_files/A1-B000127-3_38_F-1-1_R1.mus.Aligned.out.sorted.bam|s3://czbiohub-tabula-muris/facs_bam_files/A1-B000127-3_38_F-1-1_R2.mus.Aligned.out.sorted.bam,A1-B000127-3_38_F-1-1_R1|A1-B000127-3_38_F-1-1_R2,s3://olgabot-maca/facs/merge_tabula_muris/merge_sample_pairs/A1-B000127-3_38_F-1-1.bam
A1-B000167-3_56_F-1-1,s3://czbiohub-tabula-muris/facs_bam_files/A1-B000167-3_56_F-1-1_R1.mus.Aligned.out.sorted.bam|s3://czbiohub-tabula-muris/facs_bam_files/A1-B000167-3_56_F-1-1_R2.mus.Aligned.out.sorted.bam,A1-B000167-3_56_F-1-1_R1|A1-B000167-3_56_F-1-1_R2,s3://olgabot-maca/facs/merge_tabula_muris/merge_sample_pairs/A1-B000167-3_56_F-1-1.bam
A1-B000168-3_57_F-1-1,s3://czbiohub-tabula-muris/facs_bam_files/A1-B000168-3_57_F-1-1_R1.mus.Aligned.out.sorted.bam|s3://czbiohub-tabula-muris/facs_bam_files/A1-B000168-3_57_F-1-1_R2.mus.Aligned.out.sorted.bam,A1-B000168-3_57_F-1-1_R1|A1-B000168-3_57_F-1-1_R2,s3://olgabot-maca/facs/merge_tabula_muris/merge_sample_pairs/A1-B000168-3_57_F-1-1.bam
A1-B000412-3_56_F-1-1,s3://czbiohub-tabula-muris/facs_bam_files/A1-B000412-3_56_F-1-1_R1.mus.Aligned.out.sorted.bam|s3://czbiohub-tabula-muris/facs_bam_files/A1-B000412-3_56_F-1-1_R2.mus.Aligned.out.sorted.bam,A1-B000412-3_56_F-1-1_R1|A1-B000412-3_56_F-1-1_R2,s3://olgabot-maca/facs/merge_tabula_muris/merge_sample_pairs/A1-B000412-3_56_F-1-1.bam

In [39]:
# import numpy as np

# bams.head()

In [40]:
    # def make_merge_samples(bams, chunksize):

    #     chunksize = 10

    #     groupby = np.arange(len(bams))//10

    #     def pipe_join(names):
    #         return "|".join(names)

    #     new_dfs = []

    #     sample_names = bams.groupby(groupby)['sample_id'].apply(pipe_join)
    #     new_bams = bams.groupby(groupby)['bam'].apply(pipe_join)

    #     reflow_bams = pd.concat({"sample_names":sample_names, "bams":new_bams}, axis=1)
    #     reflow_bams['output'] = f's3://olgabot-maca/facs/merge_tabula_muris/merged_chunksize={chunksize}/merged_' + reflow_bams.index.astype(str) + '.bam'
    #     reflow_bams.index.name = 'id'
    #     reflow_bams.head()

In [41]:
samples = reflow_bams

In [43]:
import json

folder = f'../merge_sample_pairs'

! mkdir -p $folder
assert samples.index.is_unique
samples.to_csv(f'{folder}/samples.csv')

config = 	{
		"program": "../reflow-workflows/merge_bams.rf",
		"runs_file": "samples.csv"
	}

with open(f'{folder}/config.json', 'w') as f:
    json.dump(config, f)
    
! head -n 2 $folder/samples.csv $folder/config.json

==> ../merge_sample_pairs/samples.csv <==
id,bams,sample_names,output
A1-B000126-3_39_F-1-1,s3://czbiohub-tabula-muris/facs_bam_files/A1-B000126-3_39_F-1-1_R1.mus.Aligned.out.sorted.bam|s3://czbiohub-tabula-muris/facs_bam_files/A1-B000126-3_39_F-1-1_R2.mus.Aligned.out.sorted.bam,A1-B000126-3_39_F-1-1_R1|A1-B000126-3_39_F-1-1_R2,s3://olgabot-maca/facs/merge_tabula_muris/merge_sample_pairs/A1-B000126-3_39_F-1-1.bam

==> ../merge_sample_pairs/config.json <==
{"program": "../reflow-workflows/merge_bams.rf", "runs_file": "samples.csv"}